* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Container principal */
.container {
  display: flex;
  height: 100vh;
}

/* Lado esquerdo */
.lado-esquerdo {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

.imagem-topo {
  max-width: 80%;
  height: auto;
  margin-bottom: 30px;
}


.lado-esquerdo h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.lado-esquerdo h4 {
  color: grey;
  font-weight: normal;
  font-family: sans-serif;
  margin-top: 15px;
}

/* Formulário */
.form-login {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.form-login label {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bolder;
}

.form-login input {
  background-color: #f5f5f5;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-login button {
  width: 100%;
  padding: 10px;
  background-color: #56382B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.form-login button:hover {
  background-color: #56382B;
}

/* Lado direito */
.lado-direito {
  flex: 1;
  background-color: /*#964b00*/#56382B;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

.lado-direito h1 {
  margin-top: 120px;
  font-size: 24px;
}

.lado-direito h2 {
  margin-top: 30px;
  margin-left: 10px;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
}

/* Blocos de recurso */
.feature {
  margin-top: 20px;
  padding: 10px 20px;
  text-align: left;
  width: 80%;
}

.feature h4 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.feature p {
  font-size: 14px;
  margin-left: 32px;
}

/* Imagem ao lado do título */
.imagem-lado-direito {
  width: 100px;
  height: 50px;
  margin-right: 8px;
  vertical-align: middle;
}

a {
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
