{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tela de Login</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    </head>
    <body>
        <div class="container">
            <!-- Lado esquerdo -->
            <div class="lado-esquerdo">
                <img
                    src="{% static 'images/Logo InStock.jpg' %}"
                    alt="Logo InStock"
                    class="imagem-topo"
                />
                <h1>InStock</h1>
                <h4>Bem-vindo ao seu Controle de Estoque Corporativo</h4>

                <form class="form-login">
                    <label for="email">Login</label>
                    <input
                        type="text"
                        id="email"
                        placeholder="seu@email"
                        required
                    />

                    <label for="senha">Senha</label>
                    <input
                        type="password"
                        id="senha"
                        placeholder="....."
                        required
                    />

                    <button type="submit">Entrar no Sistema</button>
                </form>
            </div>

            <!-- Lado direito -->
            <div class="lado-direito">
                <h1>Controle Total do seu Estoque</h1>
                <h2>
                    Gerencie produtos, movimentações e relatórios com eficiência
                    <br />
                    e segurança.
                </h2>

                <div class="feature">
                    <h4>
                        <img
                            src="{% static 'images/Sem nome (1920 x 1080 px) (3).png' %}"
                            alt="Dashboard"
                            class="imagem-lado-direito"
                        />
                        Dashboard em Tempo Real
                    </h4>
                    <p>
                        Visualize KPIs e gráficos atualizados instantaneamente
                    </p>
                </div>

                <div class="feature">
                    <h4>Alertas Inteligentes</h4>
                    <p>
                        Receba notificações sobre estoque baixo e produtos
                        vencendo
                    </p>
                </div>

                <div class="feature">
                    <h4>Relatórios Detalhados</h4>
                    <p>Gere PDFs com análises completas de movimentações</p>
                </div>
            </div>
        </div>
    </body>
</html>
